*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/
*.jks
keystore.properties
.kotlin/
.gradle-home/
.gradle-home2/
.gradle-home3/
gradle-8.10-bin.zip
.gradle-home*/
